/* Ianco Rodríguez*/

.izquierda{	
	float: left; 
	width: 20%;
	text-align: center;
    height: 100%; 
}

.derecha{	
	padding: 40px; 
	float: right; 
	width: 70%;
	text-align: initial;
    background-color: #BEBEBE;
}

.rojo{
    color:red;
}

.verde{
    color: green;
}

html {
    background: #DAD5D5 no-repeat center fixed;
    background-size: cover;
}

h2 {
   color: black;
}

table{
    width: 85%;
    text-align: center;
    border-collapse: separate;
    border: 1px solid #000000;
    font-size: 1em;
}
         
tr, td{
    text-align: center;
    border-collapse: separate;
    border: 1px solid #000000;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#FondoFooter{
    background-color: rgb(122, 122, 122);
    position: fixed;
    bottom: 0;    
    width: 100%;
    height: 6%;
    text-align: center;
 }

#Integrantes{
    font-size:medium;
    color: white;
}

#personalizado{      
       
    background-color:rgb(144, 181, 236);
    color: #5C00A0;
    padding: 3px 100px;
    border: #5C00A0 2px solid;
    font-size: x-large;
    border-radius: 8px;
}

#personalizado2{      
       
    background-color:rgb(144, 181, 236);
    color: #5C00A0;
    padding: 3px 100px;
    border: #5C00A0 2px solid;
    font-size: x-large;
    border-radius: 8px;
}      


#personalizado3{      
       
    background-color:rgb(144, 181, 236);
    color: #5C00A0;
    padding: 3px 100px;
    border: #5C00A0 2px solid;
    font-size: x-large;
    border-radius: 8px;
}      

.totalYMayor {
    background-color:rgb(83, 123, 184);
    color: white;
    font-style: italic;
    padding: 4px 8px;
    border: rgb(160, 158, 158) 5px double;
    border-radius: 20px;
    font-size: x-large;

}

#imagen {
    width:150px;
    height:130px;
    border-radius:150px;
}

@media only screen and (max-width: 700px){
    
}

#chart_wrap {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow:hidden;
}

#piechart {
    position: absolute;
    width: 600px;
    height:400px;
}

li {
    list-style-image: url("descarga.png");
  }